header, main, footer {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

header>h2 {
    font-size: 35px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

a {
    display: inline-block;
    width: 100px;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(37, 145, 247);
}

#a1 {
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: orange;
    margin: 20px;
    background-color: aquamarine;
}

section.s1 {
    border: 2px solid;
    border-radius: 10px;
    border-color: orange;
    padding: 10px;
    margin: 20px;
    background-color: rgb(227, 255, 191);
}

section.s2 {
    border: 2px solid;
    border-radius: 10px;
    border-color: orange;
    padding: 10px;
    margin: 20px;
    background-color: rgb(227, 255, 191);
}

div>img {
    border-radius: 100px;
    margin-right: 20px;
}

footer {
    background-color: black;
    color: white;
}

@media (max-width: 1024px) {
    header, main, footer {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        padding: 20px;
        display: flex;
        background-color: rgb(222, 238, 245);
        flex-direction: column;
    }

    nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
    }
    a {
        width: 50px;
        font-size: 10px;
    }
    div {
        display: flex;
        padding: 20px;
    }
    #a1, section.s1, section.s2 {
        background-color: white;
        border: none;
        border-radius: 0px;
    }
    footer {
        background-color: black;
        color: white;
    }
    footer > ul {
        text-align: start;
    }
}