body {
    /* width: 100vw; */
    height: 100vh; 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: whitesmoke;
}
header, main, footer {
    width: 800px;

    background-color: white;

    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
}
header {
    background-color: rgb(26, 24, 24);
    color: azure;
    margin: 25px;
}
header > h1 {
    text-align: center;
}
/* header > h1 > span { */
header span {
    color:aquamarine;
}
ul {
    list-style: none;
}
footer {
    padding: 0px 20px;
}
footer > ul {
    display: flex;
    justify-content: end;
}
footer li {
    margin: 10px;
}
a {
    text-decoration: none;
}
footer a {
    display: inline-flex;
    background-color: rgb(24, 25, 26);
    color: aquamarine;

    border-radius: 10px;
    padding: 5px 20px;

}
footer a:hover {
    background-color: blueviolet;
}
main {
    height: 500px;
}
main li {
    border-bottom: 1px solid skyblue;
    padding: 5px;
    margin-top: 10px;

    font-size: 15px;
}
main li:hover {
    background-color: aquamarine;
}
